__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.dockerignore
.git
.gitignore
.gitlab-ci.yml

.env.example

.git/
.venv/
cicd/
dataset/
notebooks/

docker-compose*.yml
Dockerfile

.pre-commit-config.yaml
setup.cfg

*.md
*.example
